body{

font-family: 'Poppins', sans-serif;

margin:0;

background:linear-gradient(135deg,#4facfe,#00f2fe);

text-align:center;

}

.main{
padding:40px;
}

h1{
color:white;
margin-bottom:30px;
}

.card{

background:white;

padding:30px;

width:350px;

margin:auto;

border-radius:15px;

box-shadow:0px 8px 20px rgba(0,0,0,0.2);

}

.input-group{

display:flex;

align-items:center;

margin:10px 0;

}

.input-group i{

margin-right:10px;

font-size:18px;

color:#3498db;

}

input{

flex:1;

padding:10px;

border-radius:8px;

border:1px solid #ccc;

}

button{

margin-top:15px;

padding:12px;

width:100%;

background:#3498db;

border:none;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#2c80b4;

}

.result-card{

margin-top:30px;

background:white;

width:300px;

padding:20px;

border-radius:12px;

margin-left:auto;

margin-right:auto;

box-shadow:0px 5px 15px rgba(0,0,0,0.2);

}

#aqiValue{

font-size:30px;

font-weight:bold;

}

canvas{

margin-top:40px;

background:white;

padding:20px;

border-radius:10px;

max-width:600px;

margin-left:auto;

margin-right:auto;

}